@font-face {
  font-family: 'alamakota';
  src: url('https://thevaluatez.github.io/blog-dev/czcionka.ttf');
}

div.font {
  font-family: "alamakota";
  letter-spacing: 0;
  color:#930;
  margin:20px 0;
}
